@import url('https://fonts.googleapis.com/css2?family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');

:root{
    --bg-color: #eaae2c;
    --f-color: #fff;
    --button-bg-color: #eaae2c; 
    --button-color: #B658E2;
}

.signInWrapper {
    display: flex;
    flex-direction: column;
    color: var(--button-color);
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    font-family: "Kulim Park", sans-serif;
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    width: 100vw;
    background-color: white;
}

.signInWrapper .Link {
    position: absolute;
    right: 0;
}

.goToStartingPage {
    width: 5.5rem;
    height: 5.5rem;
    font-size: 2rem;
    border: none;
    background-color: #e1e0e0d6;
    border-bottom-left-radius: 2.5rem;
    position: absolute;
    right: 0;
    color: var(--button-color);
}

.topArc {
    width: 100%;
    height: 160px;
    border-radius: 0% 100% 50% 50% / 0% 0% 100% 100% ;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.75rem;
    color: white;
    letter-spacing: 2.5px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 250px;
}

.form .userNameCon, 
.form .passwordCon {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
    color: var(--bg-color);
}

.form .moreActions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-size: .72rem;
}

.form .moreActions > * {
    cursor: pointer;
    transition: all .15s ease-in;
    color: var(--bg-color);
}

.form .moreActions > *:hover {
    color: white;
    text-shadow: 0 0 1rem var(--bg-color);
}

.form .userNameCon > input , 
.form .passwordCon > input {
    outline: none;
    border: 0;
    border-bottom: .25rem var(--bg-color) solid;
    background: none;
    margin-top: .9rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--bg-color);
    text-indent: 1rem;
}

.form .passwordCon {
    position: relative;
}

.form .passwordCon > img {
    position: absolute;
    right: 5px;
    top: 30%;
    width: 30px;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

.form .passwordCon > img:hover {
    filter: drop-shadow(0 0 .5rem black);
}

.form .userNameCon > span, 
.form .passwordCon > span {
    color: rgb(231, 74, 74);
    font-size: .7rem;
    text-indent: .5rem;
    margin: .3rem;
}

.signInButton {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    padding: .5rem;
    background-color: var(--bg-color);
    border-radius: .3rem;
    border: .2rem solid transparent;
}

.signInButton:hover {
    color: var(--bg-color);
    background-color: white;
    border: .2rem solid var(--bg-color);
}

.otherPlatformsWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-bottom: 1rem;
}

.otherPlatformsWrapper > h3{
    color: var(--bg-color);
}

.iconsWrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.wrapper {
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    border-radius: 50%;
    border: .25rem var(--bg-color) solid;
    display: flex;
    align-items: center;
    background: white;
}

.iconsWrapper > .wrapper > img {
    width: 50px;
    cursor: pointer;
}

.iconsWrapper > .wrapper:hover  {
    animation: up .2s ease-out forwards;
}

@keyframes up {
    to {
        transform: translateY(-7.5px);
    }
}

@media (max-width: 400px) and (max-height: 800px) {
    .form {
        width: 300px;
    }
}

@media (max-width: 400px) and (max-height: 450px) {
    .signInWrapper {
        height: 150vh;
    }
}

@media (min-width: 600px) and (max-height: 300px) {
    .signInWrapper {
        height: 200vh;
    }
}