.profileImgWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.profileImgWrapper .profPic {
    width: 10rem;
    height: 10rem;
    cursor: pointer;
    border: .5rem solid #EAAE2C;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profileImgWrapper .uploadPictureWrapper > h2 {
    font-weight: 800;
    color: var(--bg-color); 
}

.profileImgWrapper .uploadPictureWrapper > button {
    color: #fff;
    background-color: var(--bg-color);
    border: none;
    font-weight: bold;
    padding: clamp(.25rem, 2vw, .5rem) clamp(.25rem, 2vw, 2rem);
    font-size: clamp(.1rem, 2vw, 1.3rem);
    border-radius: 5px;
    box-shadow: 0 2px 5px -1px black;
    font-family: Kanit;
    letter-spacing: 1.2px;
    cursor: pointer;
    transition: .5s ease;
}

.profileImgWrapper .uploadPictureWrapper > button:hover {
    color: var(--bg-color);
    background-color: #fff;
}

.showUploadedPictures, .hideUploadedPictures {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(206, 206, 69, 0.541);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    color: white;
}

.hideUploadedPictures {
    display: none;
    animation: hide 1s forwards ease-out ;
}   

.hideUploadedPictures .uploadedPicBox {
    display: flex;
    animation: hidePrompt .5s forwards ease-out ;
}

.showUploadedPictures .uploadedPicBox {
    animation: showPrompt .5s forwards ease-out ;
}

.uploadedPicBox > * {
    margin: .75rem;
    text-align: center;
}

.uploadedPicBox {
    width: 320px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    background-color: var(--bg-color);
    position: relative;
    color: white;
}

.uploadedPicBox > h3 {
    color: white;
}

.uploadedPicBox .bottom {
    height: 100%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-y: scroll;
}

.uploadedPicBox .bottom > div .clearButt {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
    width: 30px;
    height: 30px;
    align-items: center;
    border: none;
    border-radius: 5px;
    color: #EAAE2C;
    font-size: clamp(.1rem, 2vw, 1.3rem);
    background-color: white;
    z-index: 1;
}

.uploadedPicBox .bottom > label{
    font-size: 3rem;
}

.uploadedPicBox .bottom > div > div {
    width: 100%;
    height: 100%;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

.uploadedPicBox .bottom > label, .uploadedPicBox .bottom > div{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #afa7a7;
    margin: .2rem;
    border: .3rem solid #ec6e06;
    border-radius: 1rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}


.uploadedPicBox .hidePromptButt {
    position: absolute;
    top: -12px;
    right: -12px;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    align-items: center;
    border: none;
    border-radius: 20px;
    background-color: #EAAE2C;
    color: white;
    z-index: 1;
}

.uploadedPicBox .hidePromptButt:hover {
    color: var(--bg-color);
    background-color: #fff;
}

.pictureWrapper {
    display: flex; 
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    background-color: rgba(168, 167, 167, 0.362);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.pictureWrapper .pictureBox {
    width: auto;
    height: 100vh;
    position: relative;
}

.pictureWrapper .Picture_Box > img {
    width: auto;
    height: 100vh;
}

.pictureWrapper .Picture_Box > button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
    width: 70px;
    height: 70px;
    align-items: center;
    border: none;
    background-color: rgba(188, 185, 185, 0.759);
    color: white;
    z-index: 1;
}

.pictureWrapper .Picture_Box > button:hover {
    color: rgba(188, 185, 185, 0.759);
    background-color: white;
}

@keyframes showPrompt {
    0%{
        scale: 0;
    }
    90%{
        scale: 1.15;
    }
    100% {
        scale: 1;
    }
}

@keyframes hidePrompt {
    20%{
        scale: 1.15;
    }
    100%{
        scale: 0;
    }
}


@keyframes hide {
    0% {
        opacity: 1;
        display: flex;
    }    
    99.9% {
        opacity: 0;
        display: none;
    }
}



@media (max-width: 600px) and (max-height: 800px) { 
    .profileImgWrapper .uploadPictureWrapper > button {
        padding: clamp(.25rem, 2vw, .5rem) clamp(.25rem, 2vw, 2rem);
        font-size: clamp(1rem, 2vw, 1.3rem);
    }

    .uploadedPicBox {
        width: 300px;
        height: 350px;
    }

    .profileImgWrapper .uploadPictureWrapper h2 {
        font-size: 1.25rem;
    }
}