:root {
    --color-1: #FFA500;
    --color-2: #ED872D;
    --color-3: #8839E8;
    --color-4: #008CFF;
}

.homeWrapper {
    display: flex;
    font-weight: bold;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    height: fit-content;
}

.homeWrapper .left {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.homeWrapper .left .wrapTop {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1.25rem;
    width: 80%;
}

.homeWrapper .left .wrapTop > h1 {
    color: var(--color-1); 
    font-size: clamp(1.5rem, 5vw, 3.5rem);
    display: flex;
    align-items: center;
}    

.homeWrapper .left .wrapTop > h1 > img {
    width: 3rem;
    margin-left: 1rem;
}

.homeWrapper .left .wrapTop > p {
    font-size: clamp(1rem, 2vw, 1.5rem);
}    

.homeWrapper .left .wrapTop .Links > button {
    background-color: var(--color-1);
    color: white; 
    border: none;
    border-radius: 3rem;
    font-size: clamp(1rem, 2vw, 1.2rem);
    font-weight: 700;
    padding: clamp(.75rem, 2vw, 1.2rem) clamp(.5rem, 2vw, 1.2rem);
    box-shadow: 0 5px 10px -5px black;
}    

.homeWrapper .left .wrapTop .Links > button:hover {
    color: var(--color-2);
    background-color: white;
}

.homeWrapper .left .wrapBottom {
    display: flex;
    gap: 1rem;
    align-items: baseline;
    width: 80%;
}

.homeWrapper .left .wrapBottom > button {
    width: 2rem;
    height: 2rem;
    outline: none;
    border-radius: .3rem;
    border: none;
}

.orange {
    background-color: var(--color-2);
}
.purple {
    background-color: var(--color-3);
}
.blue {
    background-color: var(--color-4);
}


.homeWrapper .right {
    width: 50vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeWrapper .right > img {
    width: 70%;
}



/* Mobile View */
@media (max-width: 600px) and (max-height: 800px) {
    .homeWrapper {
        flex-direction: column-reverse;
        margin-top: 0;
        height: 100vh;
    }

    .homeWrapper .left {
        width:  100vw;
        height: 50vh;
    }

    .homeWrapper .left .wrapTop {
        width: 100vw;
    }

    .homeWrapper .left .wrapTop > * {
        margin-left: 1rem;
    }

    .homeWrapper .left .wrapTop > button {
        margin-right: 1rem;
    }

    .homeWrapper .left .wrapBottom {
        margin-left: auto;
        margin-right: 1rem;
        width: fit-content;
    }

    .homeWrapper .right{
        width: 100vw;
        margin-top: 1rem;
    }



    .homeWrapper .left .wrapTop > button {
        background-color: var(--color-1);
        color: white; 
        border: none;
        border-radius: 3rem;
        font-size: .8rem;
        font-weight: 700;
        padding: 1.2rem 1.1rem;
        margin-left: auto;
    }    
}

@media (max-width: 600px) and (max-height: 400px) {
    .homeWrapper{
        height: 150vh;
    }
    .homeWrapper .left {
        height: 100vh;
    }
    .homeWrapper .right {
        height: 100vh;
    }
}

@media (max-width: 600px) and (max-height: 500px) {
    .homeWrapper .left {
        height: 70vh;
    }
    .homeWrapper .right > img {
        width: 30%;
    }
}


@media (max-width: 400px) and (max-height: 400px) {
    .homeWrapper{
        height: fit-content;
    }
    .homeWrapper .left {
        height: 70vh;
    }
    .homeWrapper .right {
        height: 70vh;
    }
}