.contactsWrapper {
    display: flex;
    margin: 1rem;
    width: 80%;
    flex-direction: column;
    align-items: center;
    color: #EAAE2C;
}

.contactsWrapper > h3{
    width: 100%;
}

.contactsWrapper .contactsBox {
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: clamp(.1rem, 2vw, .5rem);
    gap: clamp(.1rem, 2vw, .5rem);
    overflow-x: hidden;
    overflow-y: auto;
}

.contactsWrapper .contactsBox > li {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contactsWrapper .contactsBox > li > i {
    font-size: clamp(.5rem ,2vw, 1.2rem);
    font-weight: bolder;
}

.contactsWrapper .contactsBox li > input {
    width: 80%;
    outline: none;
    border: none;
    color: #EAAE2C;
    background-color: transparent;
    font-size: clamp(.25rem, 2vw, .75rem);
    font-weight: bolder;
}


@media (max-width: 600px) and (max-height: 800px) {
    .contactsWrapper .contactsBox > li > i,
    .contactsWrapper .contactsBox li > input {
        font-size: clamp(.75rem ,2vw, 1.5rem);
    }
}